@mixin flexbox-column($gap: 10px) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: $gap;
}

@mixin flexbox-row(
  $gap: 10px,
  $justCo: space-between,
  $alignIt: baseline,
  $alignCo: center
) {
  display: flex;
  flex-direction: row;
  justify-content: $justCo;
  align-items: $alignIt;
  align-content: $alignCo;
  gap: $gap;
}
